@dark: #191A1C;
@white: #C3CAD8;
@light: #9096A2;
@gray: #373b41;

@pink: fade(#EE7DFF, 70%);
@yellow: fade(#F2E66B, 70%);
@blue: fade(#4DE8FF, 70%);
@purple: fade(#7568EB, 70%);
@green: fade(#6BF2A4, 70%);
@red: fade(#F26B6B, 70%);
@orange: fade(#F2B26B, 70%);
